<p>
  <%= f.label :title, nil, :class => 'title' %><br />
  <%= f.text_field :title, :class => 'title span-16' %>
</p>

<p>
  <%= f.label :author %><br />
  <%= f.text_field :author, :class => 'text span-16' %>
</p>

<p>
  <%= f.label :media %>&nbsp;&nbsp;<%= "(#{link_to("Current Media", @episode.media.url)})" unless @episode.media_file_name.nil? %><br />
  <%= f.file_field :media, :class => 'text span-16' %>
</p>

<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :class => 'text span-16' %>
</p>

<p>
  <%= f.label :subtitle %><br />
  <%= f.text_field :subtitle, :class => 'text span-16' %>
</p>

<p>
  <%= f.label :summary %><br />
  <%= f.text_area :summary, :class => 'text span-16' %>
</p>

<p>
  <%= f.label :keywords %><br />
  <%= f.text_field :keywords, :class => 'text span-16' %>
</p>