<p>
  <%= f.label :title, nil, :class => 'title' %><br/>
  <%= f.text_field :title, :class => 'title span-12' %>
</p>

<p>
  <%= f.label :subtitle %><br/>
  <%= f.text_field :subtitle, :class => 'text span-12' %>
</p>

<p>
  <%= f.label :summary %><br/>
  <%= f.text_area :summary, :class => 'text span-12' %>
</p>

<p>
  <%= f.label :description %><br/>
  <%= f.text_area :description, :class => 'text span-12' %>
</p>

<p>
  <%= f.label :author %><br/>
  <%= f.text_field :author, :class => 'text span-12' %>
</p>

<p>
  <%= f.label :owner_name %><br/>
  <%= f.text_field :owner_name, :class => 'text span-12' %>
</p>

<p>
  <%= f.label :owner_email %><br/>
  <%= f.text_field :owner_email, :class => 'text span-12' %>
</p>

<p>
  <%= f.label :cover_art %><br/>
  <%= f.file_field :cover_art, :class => 'span-12' %>
</p>