<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :subtitle %>
  <%= f.text_field :subtitle %>
</p>

<p>
  <%= f.label :summary %>
  <%= f.text_area :summary %>
</p>

<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :author %>
  <%= f.text_field :author %>
</p>

<p>
  <%= f.label :owner_name %>
  <%= f.text_field :owner_name %>
</p>

<p>
  <%= f.label :owner_email %>
  <%= f.text_field :owner_email %>
</p>

<p>
  <%= f.label :cover_art %>
  <%= f.file_field :cover_art %>
</p>