<%= link_to '<< Back', podcasts_path %><br/><br/>
<h1>Editing podcast</h1>

<div class="span-12">
  <% form_for(@podcast, :html => { :multipart => true }) do |f| %>
    <%= f.error_messages %>

    <%= render :partial => 'form', :locals => {:f => f} %>

    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>

<div class="span-12 last">
  <ol>
    <% @podcast.episodes.each do |episode| %>
      <li title="<%= episode.title %>">
          <%= link_to truncate(episode.title, 64), edit_podcast_episode_path(@podcast, episode) %>
      </li>
    <% end %>
  </ol>

  <%= link_to "New Episode", new_podcast_episode_path(@podcast) %>
</div>