<h1>Listing podcasts</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @podcasts.each do |podcast| %>
  <tr>
    <td><%= podcast.title %></td>
    <td><%= link_to 'Show', podcast %></td>
    <td><%= link_to 'Edit', edit_podcast_path(podcast) %></td>
    <td><%= link_to 'Destroy', podcast, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New podcast', new_podcast_path %>